.articleImage {
    width: 15%; 
    margin-left: 25; 
    margin-right: 25%;  
}
.save{
    width: 25; 
    float: left;
}

body{
    font-family: 'Alegreya', serif;
}

.background-image{
    background-image: url(../img/newspaper_texture2847.jpg); 
}